.story {
    

    &__pictures {
        background-color: $color-primary;
        grid-column: full-start / col-end 4;
        background-image: linear-gradient(rgba($color-primary, .5), rgba($color-primary, .5)), url(../img/back.jpg);
        background-size: cover;

        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(6, 1fr);
        align-items: center; // align items -> aligns items to grid cells according to columkn axes

        @media only screen and (max-width: $bp-medium) {
            grid-column: 1 / -1;
            padding: 6rem;
        }
    }

    &__img--1 {
        width: 100%;
        grid-area: 2 / 2 / 6 / 6;
        box-shadow: 0 2rem 5rem rgba(#000, .1);

        @media only screen and (max-width: $bp-medium) {
            grid-column: 1 / 5;
            grid-row: 1 / -1;
        }
    }

    &__img--2 {
        width: 115%;
        grid-area: 4 / 4 / 6 / 7;
        z-index: 30;
        box-shadow: 0 2rem 5rem rgba(#000, .2);
        
        @media only screen and (max-width: $bp-medium) {
            width: 100%;
            grid-row: 1 / -1;
        }
    }

    &__content {
        background-color: $color-grey-light-1;
        grid-column: col-start 5 / full-end;

        // we can set padding to be viewport width units to be more responsive 
        // padding: 6rem 12rem;
        padding: 6rem 10vw;

        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: flex-start; // initially set to stretch (set to flex-start);

        display: grid;
        align-content: center;
        // to adjust row items in row axis, use justify-items
        justify-items: start;

        @media only screen and (max-width: $bp-medium) {
            grid-column: 1 / -1;
            grid-row: 5 / 6;
        }
    }

    &__text {
        font-size: 1.5rem;
        font-style: italic;
        margin-bottom: 4rem;
    }
}